<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Wampi" Language="1033" Version="0.1.1" Codepage="65001" Manufacturer="Dogan Celik" UpgradeCode="05b33752-a7d1-429e-a453-be4d72326a1f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="Main" Title="Wampi" Level="1">
			<ComponentGroupRef Id="ComponentGroup.Main" />
		</Feature>
    
    <Feature Id="Plugins" Title="Plugins" Level="1">     
      <Feature Id="Plugins.Apache" Title="Apache">
        <ComponentRef Id="Component_Plugin.Apache" />
      </Feature>
      <Feature Id="Plugins.Mariadb" Title="MariaDB">
        <ComponentRef Id="Component_Plugin.Mariadb" />
      </Feature>
      <Feature Id="Plugins.Mysql" Title="MySQL">
        <ComponentRef Id="Component_Plugin.Mysql" />
      </Feature>
      <Feature Id="Plugins.Php" Title="PHP">
        <ComponentRef Id="Component_Plugin.Php" />
      </Feature>
      <Feature Id="Plugins.Phpmyadmin" Title="PhpMyAdmin">
        <ComponentRef Id="Component_Plugin.Phpmyadmin" />
      </Feature>
    </Feature>

    <UI Id='Mondo'>
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg"  Order="3">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="3">1</Publish>
    </UI>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Wampi">
          <Directory Id="PluginsFolder" Name="plugins">
          </Directory>
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Wampi" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ComponentGroup.Main" Directory="INSTALLFOLDER">
			<Component Id="Component_WampiExe" Guid="2D509EA9-BA18-40B3-AC2E-D8203CED6749">
        <File KeyPath="yes" Name="$(var.Wampi.TargetFileName)" Source="$(var.Wampi.TargetPath)"></File>
      </Component>
      <Component>
        <File KeyPath="yes" Name="Microsoft.WindowsAPICodePack.dll" Source="$(var.Wampi.TargetDir)/Microsoft.WindowsAPICodePack.dll"></File>
      </Component>
      <Component>
        <File KeyPath="yes" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="$(var.Wampi.TargetDir)/Microsoft.WindowsAPICodePack.Shell.dll"></File>
      </Component>
      <Component>
        <File KeyPath="yes" Name="Ionic.Zip.dll" Source="$(var.Wampi.TargetDir)/Ionic.Zip.dll"></File>
      </Component>
      <Component>
        <File KeyPath="yes" Name="Octokit.dll" Source="$(var.Wampi.TargetDir)/Octokit.dll"></File>
      </Component>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="DesktopShortcut"/>
    </ComponentGroup>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="5B234753-6284-4E87-868E-3BBBECC7C088">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Wampi" Target="[#Wampi.exe]" WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="UninstallProduct" Name="Uninstall Wampi" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Wampi" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="91309438-2E46-47F7-B159-DAFDBC064000">
        <Shortcut Id="DesktopShortcut" Name="Wampi" Target="[#Wampi.exe]" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Wampi" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ComponentGroup.Plugins">
      <Component Id="Component_Plugin.Apache" Directory="PluginsFolder">
        <File KeyPath="yes" Name="$(var.Wampi.Plugins.Apache.TargetFileName)" Source="$(var.Wampi.Plugins.Apache.TargetPath)"></File>
      </Component>
      <Component Id="Component_Plugin.Mariadb" Directory="PluginsFolder">
        <File KeyPath="yes" Name="$(var.Wampi.Plugins.Mariadb.TargetFileName)" Source="$(var.Wampi.Plugins.Mariadb.TargetPath)"></File>
      </Component>
      <Component Id="Component_Plugin.Mysql" Directory="PluginsFolder">
        <File KeyPath="yes" Name="$(var.Wampi.Plugins.Mysql.TargetFileName)" Source="$(var.Wampi.Plugins.Mysql.TargetPath)"></File>
      </Component>
      <Component Id="Component_Plugin.Php" Directory="PluginsFolder">
        <File KeyPath="yes" Name="$(var.Wampi.Plugins.Php.TargetFileName)" Source="$(var.Wampi.Plugins.Php.TargetPath)"></File>
      </Component>
      <Component Id="Component_Plugin.Phpmyadmin" Directory="PluginsFolder">
        <File KeyPath="yes" Name="$(var.Wampi.Plugins.Phpmyadmin.TargetFileName)" Source="$(var.Wampi.Plugins.Phpmyadmin.TargetPath)"></File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>